<h2>Détails de {{hero1.nom | uppercase}} : </h2>
<div>
    <h3>id = {{hero1.id}}</h3>
</div>
<div>
    <h3>skill {{hero1.skill}}</h3>
</div>
<div>
    <label for="nom">Nom du héros : </label>
    <input id="nom" [(ngModel)]="hero1.nom" placeholder="nom">
</div>
<div>
    <label for="nom">Nom du héros : </label>
    <input [value]="hero1.nom" (keyup)="onKeyup($event)" placeholder="nom">
</div>
<div>
    <p [innerHTML]="hero1.nom"></p>
</div>

<h2>My Heroes</h2>

<div *ngIf="selectedHero">
    <h3>
        Détails du héros {{selectedHero.nom | uppercase}}
        <div><span>ID du héros : </span>{{selectedHero.id}}</div>
        <div>
            <label for="hero-name">Nom du héros : </label>
            <input id="hero-name" [(ngModel)]="selectedHero.nom" placeholder="name">
        </div>
        <div>
            <label for="hero-skill">Skill du héros : </label>
            <input id="hero-skill" [(ngModel)]="selectedHero.skill" placeholder="name">
        </div>
        <br>
    </h3>
</div>

<ul class=heroes>
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <!-- 
        *ngFor déclare une boucle for, c'est une directive structurelle
        let hero of heroes est une syntaxe JS.-->
        <span class="badge">{{hero.id}}</span> {{hero.nom}}
        <span> {{hero.skill}} </span>
    </li>
</ul>